header {
	border-bottom: 1px solid #ccc;
	margin-top: 15px;
}

#messages {
	margin-top: 15px;
	height: calc(100vh - 130px);
}

#messages .row {
	margin-bottom: 10px;
}

.messageText {
	background: blue;
	color: white;
	padding: 7px;
	border-radius: 30px;
}

.receivedMessage {
	background-color: lightgray;
	color: black;
}

.reactLink {
	font-size: 10px;
	color: blue;
	cursor: pointer;
}
