.messageText {
	background-color: blue;
	color: white;
	padding: 7px;
	border-radius: 30px;
}

.row:nth-child(1) {
	margin-top: 10px;
}

.row {
	margin-bottom: 10px;
}

.sentMessageText {
	background-color: lightgray;
	color: black;
}

#messagesList {
	height: calc(100vh - 110px);
	overflow-y: scroll;
	overflow-x: hidden;
}
