#topBar {
	background: navy;
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
}

.container-fluid {
	font-family: "Raleway", sans-serif;
}

#linksBar {
	text-align: center;
	border-bottom: 1px solid gray;
	padding-top: 10px;
	padding-bottom: 10px;
}

#linksBar span {
	margin-left: 10px;
	margin-right: 10px;
}

#activeLink {
	font-weight: bold;
	border-bottom: 5px solid orange;
	padding-bottom: 8px;
}

#leftCol {
	border-right: 1px solid lightgray;
	min-height: calc(100vh - 24px - 30px - 45px);
}

#rightCol {
	border-left: 1px solid lightgray;
}

#rightCol p {
	color: gray;
}

#rightCol img {
	border: 1px solid black;
	margin-top: 5px;
	margin-bottom: 10px;
}

.article p {
	margin-bottom: 0px;
}

.author {
	color: gray;
}
